#box {
    height: 70px;
    border: 30px  #000000;
    background-color: #333;
    top:0;
    left: 0;
    max-width:100%;
    width: 100%;
    padding: 25px 40px;
    position: fixed;
    /* background-color: #000000; */
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    }

    .sub-btn{
        background-color: #8230c6;
        padding:2px 6px;
        border-radius: 5px;
        color: white;

    }
    
    .lo{
        height: 35px;
        margin-top: -8px;
    }
 
 
  .accordion1 p{
    margin-top: 2%;
  width: 100%;
  font-weight:normal;
  font-size: 14px;
} 
  

 
  .rotate{
    transform: rotate(180deg);
  } 


body {
font-family: NotoSansRegular,sans-serif;
background-color: #0f0617;
font-weight: 400;
}
#box ul {
    list-style-type: none;
    display: flex;
}
#logo {
height: 45px;
margin-left: -50px;
margin-top: -15px;
}
#box ul li a {
text-decoration: none;
color: hsla(0,0%,100%,.9);
position: relative;
}
#box ul li {
width: max-content;
margin-left: 30px;
margin-top:-5px;
text-align: center;
}


ul li  ul li {
width: max-content;
margin-left: 20px;
margin-top:-5px;
text-align: center;
}
ul li ul li {
display: none;
}   
ul li span {
display: none;
font-size: 13px;
border: 1px solid #fff;
color: #fff;
width: 60px;
}



.submenu1{
    margin-top: 20px;
}
#menu1 a {
text-decoration:none ;
color: #fff;

}
.line2 {
width: 100%;
height: 0.1px;
background: #6d1bb1;
margin-top: 15px;
margin-bottom: 20px;
}
.option {
display: flex;
justify-content: space-between;

}
.option > p {
color: #8230c6;
margin-top: 0px;
font-size: 20px;
margin-left: 20px;
}
select {
background-color: transparent;
color: #fff;
border: 1 px solid black;
height: 20px;
margin-right: 20px;
}
select option {
color: #fff;
}
#menu1 ul {
margin-top: 0px;
margin-left: 0px;
padding: 5px;
display: none;

}

#menu1 ul li {
background-color: black;
width: 200px;
text-align: left;
height: 50px;
padding-top: 10px;
box-sizing: border-box;
padding-left: 30px;

}
#line2 + p{
color: #8230c6;
margin-top: 0px;
font-size: 20px;
text-align: center;
}
::placeholder{
    color: #fff;
}

@media all and (min-width:50px) and (max-width:380px){
#box1 ul li:nth-child(2){
    /* display: none; */
}
#box1 ul li:nth-child(3){
    display: none;
}
#box1 ul li:nth-child(4){
    display: none;
}
#box1 ul li:nth-child(5){
    display: none;
}
#box1 ul li:nth-child(6){
    display: none;
}
#box1 ul li:nth-child(7){
    display: none;
}
#box2 ul li:nth-child(3){
    display: none; 
}
#box {
    display: flex;
    justify-content: space-evenly;
}

#menu1 {
    width: 250px;
}
#submenu1 {
    width: 200px;
}

}